<!DOCTYPE html>
<html lang="zh-CN">
<head>
{include file="public/head" /}
</head>
<body class="home-template">
<!-- start header -->
{include file="public/nav" /}
<section class="content-wrap">
<div class="container">
	<div class="row">
		<main class="col-md-8 main-content">
		<article class="post page">
			<header class="post-head">
			<h1 class="post-title">下载 PokeOne(PKO)</h1>
			</header>
			<section class="post-content">
			<hr>
			<blockquote>
				<p>
					<strong>注意：</strong> PKO客户端打开无法"自动更新"的话需要安装Microsoft .NET Framework 4
				</p>
				<p>
					Microsoft .NET Framework 4下载地址:<code><a href="https://www.microsoft.com/zh-cn/download/details.aspx?id=17718">点击这里</a></code> 
				</p>
				<p>
					<strong>Tips：</strong> 自动更新缓慢，可以使用vpn试试，或者重开几次看看情况。(重新打开更新进度将清零重置)
				</p>
			</blockquote>
			<h2 id="ghost336m">PokeOne(PKO)客户端 -- 体积：1.02GB</h2>
			<ul>
				<li><strong>纯英文游戏，不会出汉化，IOS版不会出，安卓版(待定中),PC版32位还没出</strong></li>
				<li><strong>PC版64位：</strong><a href="https://pan.baidu.com/s/1X6W4bcF5khXubSe-rp4QEw">pokeone.exe</a></li>
				<li><strong>百度网盘提取码：</strong><code><strong>f36d</strong></code></li>
				<li><strong>By:妮可大大 注册流程、游戏基础设置</strong><a href="/article/1">点击这里</a></li>
				<li><strong>By:国外大神整理 BOSS\任务\宠物分布的介绍，英语好的可以自己下载来看</strong></li>
				<li><strong>纯英文文档：</strong><a href="https://pan.baidu.com/s/1i8YbJAoEsXUc4KjXk_8BIA">one精灵分布 BOSS等资料合集</a></li>
				<li><strong>百度网盘提取码：</strong><code><strong>zo9t</strong></code></li>
				<li>版本特色：
					<Br>1.开通关东、成都地区(可以捕获神兽三鸟三狗)
				    <Br>2.技能、特性全部实装
					<Br>3.后续会继续扩展其他地区以及开放Mega\Z技能
				</li>
				<li>技能效果暂未彻底完善，后续应该会完善</li>
			</ul>
			</section>
		   </article>
		</main>
		{include file="public/right" /}
	</div>
</div>
</section>
{include file="public/foot" /}
</body>
</html>